h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.container{
    box-shadow: 0 0 5px black, 0 0 10px rgb(44, 43, 43);
    border-radius: 10px;
    padding: 40px;
    background-color: #333;

    label{        
        font-size: 20px;
        color: wheat;
        input{
            height: 30px;
            border-radius: 5px;
            border: 1px solid gray;
            padding-inline: 10px;
            font-size: 15px;
            font-weight: bold;
            outline: none;
        }
    }

    .menu-layout{
        padding: 30px;
        display: grid;
        grid-template-columns: auto auto auto;

        .item-card{
            margin: 10px;
            border-radius: 10px;
            padding: 40px;
            background-color: beige;
            color: #333;

            h1,h2,h3{
                padding: 5px;
            }

            img{
                max-width: 60%;
                object-fit: fill;
                border-radius: 10px;
            }

            button{
                padding: 10px;
                padding-inline: 30px;
                border-radius: 10px;
                background-color: #333;
                color: wheat;
                font-size: 16px;
                transition: 0.3s;        
                font-family: Arial, Helvetica, sans-serif;
                border: none;    

                &:hover{                
                    background-color: wheat;
                    color: #333;
                }
            }
        }
    }

    .menu-layout > * {
        width: 100%;
    }
}